
<h1>Angular Custom Pipe</h1>
<h1>Original String: Marvellous</h1>
<h1>Reversed String: {{ 'Marvellous' | myRev }}</h1>

<input [(ngModel)]="inputValue" placeholder="Type something..." />
<h2>Reversed Input: {{ inputValue | myRev }}</h2>

-------------------------------------------------------------------------------

<h1>Custom Pipe Addition of two numbers</h1>
<h1> 8 + 3 = {{8 | myAdd : 3}}</h1>
<h1>Custom Pipe Multiplication of two numbers</h1>
<h1> 7 * 3 = {{7 | myMult : 3}} </h1>

-------------------------------------------------------------------------------

<p>Input: 2, Parameter: "Prime" => {{ 2 | marvellousChk: 'Prime' }}</p>
<p>Input: 2, Parameter: "Perfect" => {{ 2 | marvellousChk: 'Perfect' }}</p>
<p>Input: 2, Parameter: "Even" => {{ 2 | marvellousChk: 'Even' }}</p>
<p>Input: 2, Parameter: "Odd" => {{ 2 | marvellousChk: 'Odd' }}</p>

<p>Input: 28, Parameter: "Perfect" => {{ 10 | marvellousChk: 'Perfect' }}</p>



<router-outlet></router-outlet>